.Header {
  position: fixed;
  top: 0;
  min-height: 70px;
  width: 100vw;
  padding: 0 25px;

  display: grid;
  grid-template-areas: "logo nav";

  background-color: $lightGrayishBlue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 99999;
}

.Nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: center;
}

.Logo {
  grid-area: logo;
  height: 70px;
}

.Nav a {
  color: $darkBlue !important;
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
}
.Nav a:hover {
  transform: scale(1.1);
}
.Nav button {
  padding: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  transition: 70ms;
}

.Nav button:active {
  transform: translateY(3px);
  box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
}
